body {
  background: #eee;
}
.container {
  text-align: center;
}
.Calculator {
  display: inline-block;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 35px 0px;
}
#display {
  background: grey;
  width: 500px;
  height: 50px;
  border-radius: 15px;
  font-size: 40px;
}
input {
  outline: none;
  border: none;
}
button {
  width: 120px;
  height: 50px;
  border-radius: 15px;
  font-size: 30px;
  cursor: pointer;
}
button:hover {
  background: rgb(224, 153, 153);
}
