* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.wrapper {
  width: 90%;
  margin: auto;
}
header {
  position: relative;
}
nav::after {
  position: absolute;
  content: "";
  width: 65%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  background: #022e36;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
}

.categories p {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.categories p:hover {
  color: #f7d541;
}
.cat-i {
  margin-left: 5px;
  color: white;
  width: 12px;
  height: 12px;
  display: inline-block;
  text-align: center;
}
.categories .cat-list {
  position: absolute;
  color: white;
  background: #f7d541;
  width: 125px;
  border-radius: 7px;
  top: 56px;
  display: none;
}
.cat-list li {
  cursor: pointer;
  margin: 5px 0px;
  font-size: 21px;
  padding: 1px 5px;
}
.cat-list {
  z-index: 1;
}
.cat-list li a {
  color: white;
}
.cat-list li a:hover {
  color: #022e36;
  transition: 0.3s;
}
/*  */
/*  */
/*  */
.search-toggle {
  position: absolute;
  top: 6px;
  right: 35px;
  cursor: pointer;
}
.search-toggle-form {
  display: none;
}
.search-toggle-form button {
  vertical-align: middle;
  border-radius: 50%;
  border: none;
  right: 60px;
  cursor: pointer;
}
.search-toggle-form input {
  position: relative;
  vertical-align: middle;
  color: white;
  width: 26px;
  opacity: 0;
  border-radius: 50px;
  border: 1px solid black;
  background: #022e36;
  padding: 20px 15px;
}
.open input {
  opacity: 1;
  width: 260px;
  transition: 0.3s ease-in-out;
}
.cat-i i {
  transform: rotate(0);
  transition: 0.3s;
}
.rotate .cat-i i {
  transform: rotate(180deg);
  transition: 0.3s;
}
/* ////////////////////
MAIN 
//////////////////// */
/* Banner*/
.leftbanner {
  width: 45%;
  vertical-align: middle;
  display: inline-block;
  margin-right: -5px;
}
.rightbanner {
  vertical-align: middle;
  width: 55%;
  display: inline-block;
  margin-left: -5px;
}
.left-banner-bg {
  z-index: -1;
  background: #f7d541;
  width: 490px;
  height: 700px;
  position: absolute;
}

.rightbanner h2 {
  position: relative;
  font-size: 85px;
  color: #f7d541;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  padding: 0 0 30px;
  margin: 100px 0 0 40px;
}
.rightbanner h2::after {
  position: absolute;
  content: "";
  width: 250px;
  height: 5px;
  background: #022e36;
  bottom: 0;
  left: 0;
}
.grey-para {
  color: gray;
  line-height: 1.2;
  font-size: 18px;
}
.rightbanner p {
  margin: 35px 0 0 40px;
}
.rightbanner a {
  position: relative;
  text-transform: uppercase;
  color: white;
  background: #022e36;
  padding: 20px 51px 20px 19px;
  display: inline-block;
  margin-top: 12px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
}
.rightbanner a::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 20px;
  background: url(image/cta-arrow.png) no-repeat;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}
.rightbanner a:hover {
  background: #f7d541;
}
.side-banner {
  position: relative;
}
.b-leftbtn {
  position: absolute;
  background: red;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  z-index: 1;
  left: 2%;
  top: 50%;
  cursor: pointer;
}
.b-rightbtn {
  cursor: pointer;
  position: absolute;
  background: red;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  right: 2%;
  top: 50%;
}
/* ===================== */
/* Populer product */
/* ===================== */
.populer h3 {
  font-size: 40px;
  text-align: center;
  line-height: 3.6;
}
.yellow {
  color: #f7d541;
}
.cursive {
  color: #022e36;
}
.catList {
  text-align: center;
  line-height: 2;
}
.catList a {
  color: #022e36;
  position: relative;
  margin: 0 14px;
  font-size: 17px;
}
.catList a:hover {
  color: #f7d541;
}
.catList a::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  background: black;
  right: -13px;
  top: 0px;
}
.catlist-JW::after {
  display: none;
}
.tab-cart {
  margin: 40px 0;
}
.tab-cart li {
  width: 30%;
  display: inline-block;
  border: 1px solid grey;
  padding: 30px;
  margin: 15px 10px;
  background: white;
}

.tab-cart li h4 {
  color: #022e36;
  font-size: 22px;
  margin-bottom: 16px;
}
.img-wrap {
  width: 200px;
  margin: auto;
}
.img-wrap img {
  width: 100%;
}
.single p {
  color: grey;
  font-size: 13px;
  margin-bottom: 15px;
}
.price p {
  color: #f7d541;
  font-size: 30px;
  margin: 10px 0;
  display: inline-block;
  padding: 12px 25px;
}
.price span {
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  background: #022e36;
  color: white;
  padding: 15px 30px 15px 19px;
  z-index: -1;
  left: -180px;
  transition: 0.4s linear;
}
.price span::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 20px;
  background: url(image/cta-arrow.png) no-repeat;
  top: 50%;
  transform: translateY(-43%);
  right: -50px;
}
.price span:hover {
  background: #f7d541;
}
.tab-cart li:hover {
  width: 30.2%;
  border: none;
  box-shadow: -1px 6px 21px rgb(0 0 0 / 50%);
  cursor: pointer;
  transition: 0.2s linear;
}
.tab-cart li:hover > .price span {
  z-index: 0;
  left: 0;
}
.tab-content {
  display: none;
}
#tab-1 {
  display: block;
}
/* ===================== */
/* banner yellow */
/* ===================== */
.bannerYellow {
  padding: 50px 0;
  background: url(image/yellow-bg.png) no-repeat;
}
.bg-bannerYellow {
  background: url(image/yellowfridge.png) no-repeat;
  width: 38%;
  height: 415px;
  display: inline-block;
  background-position: right 132px bottom -22px;
  vertical-align: middle;
}
.left-bannerYellow {
  width: 60%;
  vertical-align: middle;
  display: inline-block;
}
.left-bannerYellow h3 {
  font-size: 60px;
  color: black;
  margin: 20px 0;
}
.left-bannerYellow p {
  color: white;
  font-size: 20px;
  margin: 15px 0;
}
.left-bannerYellow a {
  position: relative;
  text-transform: uppercase;
  color: white;
  background: #022e36;
  padding: 14px 51px 14px 19px;
  display: inline-block;
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
}
.left-bannerYellow a::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 20px;
  background: url(image/cta-arrow.png) no-repeat;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}
/* ===================== */
/* new */
/* ===================== */
.new {
  overflow-x: hidden;
}
.new .yellow {
  color: #f7d541;
}
.new .cursive {
  color: #022e36;
}
.new h3 {
  text-align: center;
  font-size: 35px;
  line-height: 3;
}
.slide-tab {
  padding: 10px;
}
.slide-tab-li {
  box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.49);
  width: 250px;
  padding: 20px;
  margin-bottom: 60px;
  margin: 10px 10px;
}

.slide-tab-li h4 {
  color: #022e36;
  margin-bottom: 20px;
}
.slide-tab-li p {
  color: #f7d541;
  font-size: 25px;
  font-weight: bold;
}
.slick-img {
  width: 200px;
  margin: auto;
}
.slick-img img {
  width: 100%;
}
.new {
  position: relative;
}
.btn-left {
  position: absolute;
  transform: rotate(180deg);
  border: none;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50px);
}
.btn-right {
  position: absolute;
  border: none;
  top: 50%;
  right: 0%;
  z-index: 1;
  transform: translateY(-50px);
  cursor: pointer;
}
/* ===================== */
/* footer */
/* ===================== */
.footerAbout {
  display: inline-block;
  width: 40%;
  padding-left: 100px;
}
.footerRight {
  padding: 65px;
  display: inline-block;
  width: 60%;
  margin-left: -5px;
  background: #022e36;
}

.footerAbout h4 + p {
  color: grey;
  opacity: 0.8;
  margin-bottom: 30px;
}
.footerAbout p:last-child {
  color: grey;
}
.footerAbout h4 {
  margin: 30px 0;
}

.footer-r-n {
  color: white;
  width: 60%;
  display: inline-block;
}
.footer-r-q {
  width: 40%;
  display: inline-block;
  margin-left: -5px;
}

.footer-r-n h5 {
  font-size: 30px;
  margin: 10px 0;
}
.footer-r-n p {
  font-size: 18px;
  color: grey;
  margin-bottom: 25px;
}
.footer-r-n input {
  padding: 11px 10px;
  width: 250px;
  height: 57px;
  outline: none;
}
.footer-r-n button {
  position: relative;
  background: #f7d541;
  color: white;
  border: none;
  padding: 20px 30px;
  left: -5px;
  cursor: pointer;
}
.footer-r-n button::after {
  position: absolute;
  content: "";
  background: url(image/cta-arrow.png) no-repeat;
  width: 80px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.footer-r-n button:hover {
  background: #022e36;
  border: 1px solid #f7d541;
  transition: 0.3s;
}

.footer-r-q {
  padding-left: 60px;
}
.footer-r-q .cursive {
  color: white;
}
.footer-r-q h5 {
  font-size: 30px;
  margin-bottom: 30px;
}
.footer-r-q li a {
  color: grey;
  line-height: 1.5;
}
/* =========== */
/* resopnisve */
/* =========== */
@media (min-width: 1024px) {
  .search-toggle-form button {
    right: 10px;
  }
  nav::after {
    width: 70%;
  }
  /* banner */
  .left-banner-bg {
    width: 442px;
  }
  .rightbanner h2 {
    font-size: 80px;
  }
  /* populer */
  .populer h3 {
    font-size: 50px;
    text-align: center;
    line-height: 3;
  }
  .catList a {
    font-size: 23px;
  }
  .price p {
    padding: 0;
    font-size: 25px;
  }
  .price span {
    left: -113px;
    padding: 15px 27px 15px 19px;
    font-size: 15px;
  }
  /* yello banner */
  .bg-bannerYellow {
    background-position: right 58px bottom -22px;
  }

  .footerAbout {
    padding-left: 40px;
    vertical-align: middle;
  }
  .footerRight {
    vertical-align: middle;
    padding: 30px;
  }
}
@media (max-width: 1023px) and (min-width: 769px) {
  .search-toggle-form button {
    right: 0.5%;
  }
  nav::after {
    width: 72%;
  }
  /* main */
  .left-banner-bg {
    width: 335px;
    height: 675px;
  }
  .rightbanner h2 {
    font-size: 55px;
  }
  /* populer` */
  .populer h3 {
    line-height: 2;
  }
  .catList a {
    font-size: 20px;
  }
  .tab-cart li {
    width: 45%;
  }
  .tab-cart li:hover {
    width: 45%;
  }
  /* yellow .bannerYellow */
  .bg-bannerYellow {
    background-position: right 25px bottom -22px;
  }
  .left-bannerYellow p {
    font-size: 25px;
  }
  /* footer */
  .footerAbout {
    padding-left: 10px;
    vertical-align: middle;
  }
  .footerAbout h4 + p {
    font-size: 15px;
  }

  .footerAbout p:last-child {
    font-size: 20px;
  }
  .footerRight {
    padding: 15px;
  }
  .footer-r-n input {
    padding: 8px 7px;
    width: 190px;
    height: 40px;
  }
  .footer-r-n button {
    padding: 12px 20px;
  }
  .footer-r-q {
    padding-left: 12px;
    vertical-align: middle;
  }
  .footer-r-n {
    vertical-align: middle;
  }
  .footer-r-q h5 {
    margin-bottom: 25px;
  }
  .footer-r-n button::after {
    width: 48px;
    background-position-x: -18px;
  }
}
@media (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
  /* nav */
  .log {
    width: 45%;
  }
  .log img {
    width: 75%;
    height: auto;
  }
  nav::after {
    width: 75%;
  }
  .search-toggle-form button {
    right: -10%;
  }
  /* main */
  .rightbanner h2 {
    font-size: 50px;
    margin-top: 56px;
  }
  .left-banner-bg {
    width: 42%;
    height: 500px;
  }
  .left-banner-img {
    width: 100%;
  }
  .left-banner-img img {
    width: 100%;
  }
  /* populer */
  .catList {
    line-height: 1.5;
  }
  .catList a {
    font-size: 15px;
  }
  .tab-cart li {
    width: 46%;
  }
  .tab-cart li:hover {
    width: 46.2%;
  }
  .price p {
    font-size: 25px;
  }
  .price span {
    font-size: 15px;
    padding: 12px 26px 12px 14px;
    left: -160px;
  }
  /* yellow banner */
  .left-bannerYellow h3 {
    font-size: 55px;
  }
  .left-bannerYellow p {
    font-size: 18px;
  }
  .left-bannerYellow a {
    padding: 11px 39px 11px 19px;
    font-size: 18px;
  }
  .bg-bannerYellow {
    width: 38%;
    background-position: right -5px bottom -23px;
  }
  /* footer */
  .footerAbout {
    padding: 10px;
    vertical-align: middle;
  }
  .footerAbout h4 + p {
    margin-bottom: 14px;
  }
  .footerAbout h4 {
    margin: 15px 0;
  }
  .footerRight {
    padding: 25px;
    vertical-align: middle;
  }
  .footer-r-n h5 {
    font-size: 25px;
  }
  .footer-r-n p {
    font-size: 14px;
  }
  .footer-r-n input {
    padding: 4px 2px;
    width: 130px;
    height: 35px;
  }
  .footer-r-n button {
    padding: 10px 12px;
  }
  .footer-r-n button {
    position: relative;
    background: #f7d541;
    color: white;
    border: none;
    padding: 10px 12px;
  }
  .footer-r-n button::after {
    width: 33px;
    background-position-x: -32px;
  }
  .footer-r-q {
    padding-left: 25px;
  }
  .footer-r-q h5 {
    font-size: 20px;
    margin-bottom: 18px;
  }
}
@media (max-width: 598px) {
  .rightbanner h2 {
    font-size: 38px;
  }
  .grey-para {
    font-size: 13px;
  }
  .rightbanner a {
    padding: 6px 14px 6px 6px;
  }
  /* populer */
  .populer h3 {
    font-size: 35px;
    line-height: 2.6;
  }
  .catList {
    line-height: 2;
  }
  .tab-cart li {
    width: 100%;
  }
  .tab-cart li:hover {
    width: 100%;
  }
  /* yellow banner */
  .left-bannerYellow h3 {
    font-size: 32px;
  }
  .left-bannerYellow p {
    font-size: 13px;
  }
  .left-bannerYellow a {
    padding: 11px 33px 11px 12px;
    font-size: 12px;
  }
  .bg-bannerYellow {
    width: 39%;
    background-position: right -46px bottom -25px;
  }
  /* new */
  .new h3 {
    font-size: 30px;
  }
  /* footer */
  img {
    width: 75%;
    height: auto;
  }
  .footerAbout h4 + p {
    font-size: 12px;
  }
  .footerAbout p:last-child {
    font-size: 12px;
  }
  .footerRight {
    padding: 10px;
  }
  .footer-r-n h5 {
    font-size: 20px;
  }
  .footer-r-n p {
    font-size: 12px;
  }
  .footer-r-n input {
    padding: 2px 1px;
    width: 100px;
    height: 24px;
  }
  .footer-r-n button {
    padding: 4px 3px;
  }
  .footer-r-n button::after {
    width: 21px;
    background-position-x: -43px;
  }
  .footer-r-q h5 {
    font-size: 15px;
    margin-bottom: 12px;
  }
  .footer-r-q {
    padding-left: 2px;
    vertical-align: middle;
  }
  .footer-r-n {
    vertical-align: middle;
  }
  .footer-r-q li {
    font-size: 12px;
  }
}
