* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 400px;
  margin: 5% auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}
#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 15px 8px;
  font-size: 25px;
  background: grey;
}
.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}
.button {
  border: 0.5px solid #999;
  text-align: center;
  background: pink;
  line-height: 100px;
  font-size: 25px;
  cursor: pointer;
}
.button:hover {
  background: grey;
  color: white;
  transition: 0.3s ease-in-out;
}
#equal {
  background: black;
  color: gold;
  font-weight: 900;
}
