*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(22, 20, 20);
}



header{
    background: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}


header h1{
    cursor: pointer;
    text-transform: uppercase;
    color: aqua;
}


.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.nav-links li a{
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    transition: all 0.5s ease;
}
.nav-links li a:hover{
    color: aqua;
}


button{
    padding: 9px 25px;
    margin-left: 10px;
    background: rgba(17, 248, 248,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease;
}
button:hover{
    background: rgba(17, 248, 248,0.6);

}



input{
    display: none;
}
label{
    position: absolute;
    width: 35px;
    height: 30px;
    right: 10%;
    display: none;
}
.bar1,.bar2,.bar3{
    display: block;
    background: blue;
    width: 35px;
    height: 5px;
    border-radius: 5px;
}
label span{
    margin-bottom: 6px;
}

@media(max-width:768px){
    label{
        display: block;
        
    }
    
    .nav-side{
        position: absolute;
        right: 0;
        top: 11vh;
        height: 89vh;
        background: pink;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10px 0;
        width: 50%;
    }

}